/* _content/WebApplication1/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bddmc6yalx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bddmc6yalx] {
  color: #D4AF37;
}

.btn-primary[b-bddmc6yalx] {
  color: #fff;
  background-color: #B8962E;
  border-color: #B8962E;
}

.nav-pills .nav-link.active[b-bddmc6yalx], .nav-pills .show > .nav-link[b-bddmc6yalx] {
  color: #fff;
  background-color: #D4AF37;
  border-color: #D4AF37;
}

.border-top[b-bddmc6yalx] {
  border-top: 1px solid #F0E6D2;
}
.border-bottom[b-bddmc6yalx] {
  border-bottom: 1px solid #F0E6D2;
}

.box-shadow[b-bddmc6yalx] {
  box-shadow: 0 .25rem .75rem rgba(13, 13, 13, .1);
}

button.accept-policy[b-bddmc6yalx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bddmc6yalx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
